.botao {
    border-style: none;
    font-size: 14px;
}
.botao:hover {
    text-decoration: none;
    background-color: rgb(214, 214, 214);
}

.ancora-botao {
    text-decoration: none;
    color: #262626;
}