* {
  margin: 0;
  padding: 0;
}

:root {
  /* cores calendario */
  --body-color: #f1f1f1;
  --header-color: #d36c6c;
  --header-button: #92a1d1;
  --color-weekdays: #247ba0;
  --box-shadow: #80c43c;
  --hover: #bf88fd;
  --current-day: rgb(152, 240, 240);
  --event-color: #8dcafc;
  --modal-event: #e8f4fa;
  --color-day: white;
  /* cores body */
  --amarelo: #ffc756;
  /*fontes*/
  --fonte-primaria: "Work Sans", sans-serif;
  --fonte-secundaria: "Fjalla One", sans-serif;
}

body {
  background: #f1f1f1;
  font-family: var(--fonte-primaria);
  height: 100vh;
}

header {
  background-image: url(../assets/logocasadecultura.png);
  background-position: initial;
  background-repeat: no-repeat;
  height: 250px;
}

.menu {
  background: #fff;
  font-family: var(--fonte-secundaria);
  font-size: 16px;
  height: 258px;
  padding: 0 1.5rem;
  white-space: nowrap;
  margin-left: 450px;
}

.menu__titulo {
  padding: 6rem 2rem;
  width: 100%;
  cursor: pointer;
}

li {
  list-style: none;
}

.menu__item a {
  font-size: 24px;
  transition: 0.5s;
  color: black;
  text-decoration: none;
  background-color: #bdb9b9;
  padding: 0.6em;
  border-radius: 8px;
}

.menu__item a:hover {
  color: var(--amarelo);
  background-color: rgb(104, 10, 141);
  border: 1px solid #000;
}

main {
  display: flex;
  justify-content: center;
  background-color: var(--body-color);
  width: 100%;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: var(--header-color);
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: var(--header-button);
}
#container {
  width: 49rem;
}
#monthDisplay {
  text-transform: uppercase;
}
#weekdays {
  width: 100%;
  display: flex;
  color: var(--color-weekdays);
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-day);
  margin: 5px;
  box-shadow: 0px 0px 3px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}
.day:hover {
  background-color: var(--hover);
}

.day + #currentDay {
  background-color: var(--current-day);
}
.event {
  font-size: 16px;
  padding: 3px;
  background-color: var(--event-color);
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: var(--modal-event);
  box-shadow: 0px 0px 5px black;
  border-radius: 5px;
  width: 55%;
  top: 100px;
  /* left: calc(50% - 175px); */
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput,
#eventTextInput,
#eventText,
#eventHorarioInput,
#eventImageInput {
  margin: 8px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: var(--header-color);
}
#saveButton,
#closeButton {
  background-color: var(--header-button);
}
#eventText {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
}

#eventText h2 {
  font-size: 20px;
  text-transform: uppercase;
}
#eventText h3 {
  font-size: 18px;
  text-transform: uppercase;
}
#eventText p{
  font-size: 16px;
  }
  #eventText img{
    align-self: center;
    }

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 150vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

#eventText img {
  width: 80%;
}
