@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

:root {
    --cor-principal: #494440;
    --cor-secundaria1: #6b48ff;
    --cor-titulos-secundarios: #08979e;
    --cor-titulo-paragrafo: #363636;
    --fonte_titulo: 'Lato', sans-serif;  
}

* {
    margin: 0;
    padding: 0;
}
